name: HACS

# yamllint disable-line rule:truthy
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  hacs:
    name: HACS Action
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v3"
      - name: HACS Action
        uses: "hacs/action@main"
        with:
          ignore: "brands"
          category: "integration"
